.article-header .avatar,
.article-header .author {
  display: none !important;
}

.article-meta-info .article-date:has(.fa-wrench) {
  display: none !important;
}


.logo-image {
  width: 4rem !important;
  height: 4rem !important;
}

.home-content-container {
  display: none !important;
}